.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home__head, .home__header, .carousel-cell, .gallery {
  display: flex;
}


//  HEAD BUTTONS
.home__head {
  padding-bottom: 110px;
  flex-wrap: wrap;
  justify-content: center;
}

h1, h3 {
  font-family: $font-header;
  font-weight: $font-semibold;
  font-size: 25px;
}

.home__header {
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 295px;
    height: 120px;
    margin: 3px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.order, .book {
  position: relative;
  color: white;

  h1 {
    position: absolute;
    top: 35%;
    left: 25%;
    margin: 0;
    color: white;
  }
}

.home__header h1:hover {
  transform: translateY(-30%);
  transition: $transition;
}

.opening {
  background-color: $color-main;
  width: 596px;
  height: 120px;
  border-radius: 5px;
  margin-left: 3px;
  text-align: center;

  h1 {
    padding-top: 15px;
  }

  h1, h3 {
    margin: 0;
    color: white;
  }
}


//  CAROUSEL
.main-carousel {
  padding-bottom: 20px;
}

.carousel-cell img {
  width: 183px;
  height: 183px;
  margin-right: 20px;
  margin-left: 2px;
  object-fit: cover;
  border-radius: 5px;
}

.opinion {
  h3 {
    margin: 10px 0 0 0;
  }

  p:last-of-type {
    font-style: italic;
    font-weight: bold;
  }
}


//  GALLERY
.gallery {
  padding-top: 110px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-1 {
  background-image: url(../images/home/pizza-4.jpg);
}

.image-2 {
  background-image: url(../images/home/pizza-5.jpg);
}

.image-3 {
  background-image: url(../images/home/pizza-6.jpg);
}

.image-4 {
  background-image: url(../images/home/pizza-7.jpg);
}

.image-5 {
  background-image: url(../images/home/pizza-8.jpg);
}

.image-6 {
  background-image: url(../images/home/pizza-9.jpg);
}

.gallery-image {
  position: relative;
  transition: transform 2s;
  width: 193px;
  height: 193px;
  margin: 4px;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

.gallery-image:hover::before {
  position: absolute;
  content: "";
  background-color: rgb(128, 128, 128);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 5px;
}

.gallery-image:hover i {
  visibility: visible;
  color: $color-main;
  transform: scale(1);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icons i {
  color: white;
  font-size: 30px;
  visibility: hidden;
  margin: 3px;
  transform: scale(0.1);
  transition: 0.5s;
}

.icons a:hover i {
  color: rgb(224, 60, 60);
}


//  FOOTER
.home__footer {
  padding-top: 15px;

  a {
    color: $color-main;
    font-style: $font-normal;
    margin-left: 5px;
  }
}

@media(max-width: 540px) {
  .home-wrapper{
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size);
  }

  .carousel-cell {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: 183px;
      margin-right: 0;
      margin-left: 0;
    }

    .opinion {
      text-align: center;
      width: 80%;
    }
  }

  .gallery-image {
    width: 45%;
  }
}

@media(max-width: 281px) {
  .home__header {
    img {
      width: 250px;
      height: 120px;
      margin: 3px;
    }
  }
}
