.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home__header, .carousel-cell, .home__gallery {
  display: flex;
}


//  HEAD BUTTONS
.home__head {
  padding-bottom: 110px;
}

h1, h3 {
    font-family: $font-header;
    font-weight: $font-semibold;
    font-size: 25px;
}

.home__header img {
  width: 300px;
  height: 120px;
  margin: 3px;
  object-fit: cover;
  border-radius: 5px;
}

.order, .book {
  position: relative;
  color: white;

  h1 {
    position: absolute;
    top: 35%;
    left: 25%;
    margin: 0;
    color: white;
  }
}

.home__header h1:hover {
    transform: translateY(-30%);
    transition: $transition;
  }

.opening {
  background-color: $color-main;
  width: 606px;
  height: 120px;
  border-radius: 5px;
  margin-left: 2px;
  text-align: center;

  h1 {
    padding-top: 15px;
  }

  h1, h3 {
    margin: 0;
    color: white;
  }
}


//  CAROUSEL
.main-carousel {
  padding-bottom: 20px;
}

.carousel-cell img {
  width: 183px;
  height: 183px;
  margin-right: 20px;
  margin-left: 2px;
  object-fit: cover;
  border-radius: 5px;
}

.opinion {
  h3 {
    margin: 10px 0 0 0;
  }

  p:last-of-type {
    font-style: italic;
    font-weight: bold;
  }
}


//  GALLERY
.gallery {
  padding-top: 80px;
  text-align: center;
}

.gallery img {
  width: 193px;
  height: 193px;
  margin: 3px;
  object-fit: cover;
  border-radius: 5px;
}


//  FOOTER
.home__footer {
  padding-top: 15px;

  a {
    color: $color-main;
    font-style: $font-normal;
    margin-left: 5px;
  }
}